<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="public/css/style.css" />
	<title>DrawInCloud</title>
</head>

<body>
	<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	<div class="container">
		<div class="col-3">
			<input id="title" class="effect-1" type="text" placeholder="Title">
			<div class="row bg_2">
				<article>
					<!-- our canvas will be inserted here-->
				</article>
			</div>

			<script type="text/javascript" src="public/js/jquery.min.js"></script>
			<script type="text/javascript" src="/public/js/jquery.event.drag-2.0.js"></script>
			<script src="http://127.0.0.1:4444/socket.io/socket.io.js"></script>
			<script type="text/javascript" src="public/js/scripts.js"></script>
			<script type="text/javascript" src="public/js/jquery-3.3.1.slim.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			    crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			    crossorigin="anonymous"></script>

</body>