@import url('https://fonts.googleapis.com/css?family=Roboto');



body{
	line-height:1;
    font-family: 'Roboto', sans-serif;
}
ol,ul{
	list-style:none;
}
blockquote,q{
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after
	{content:none;}
table {
	border-collapse:collapse;border-spacing:0;
}
.clearfix:after{
	content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;
}
.clearfix{
	display:inline-block;
}
html[xmlns] .clearfix{
	display:block;
}
* html .clearfix{
	height:1%;
}

body {
	background: url('../img/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	
	
canvas {
	background: #fff;
	margin: 20px auto;
	border: 5px solid #E8E8E8;
	display: block;}

input[type="text"]{
	font: 15px/24px 'Muli', sans-serif; 
	color: #333; width: 100%; 
	box-sizing: border-box; 
	letter-spacing: 1px;
	background: none;
}

:focus{outline: none;}

.col-3{float: left; width: 27.33%; margin: 5px 3%; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.effect-1, 
.effect-2, 
.effect-3{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}

.inl-bl {
	display: inline-block;
}

#new-draw{
	height:100%;
    width:100%;
}